<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../styles/help.css">
  <title>BMI Help</title>
</head>
<body>
  <h1>How to Use the BMI Calculator</h1>
  <p>This tool helps you find out if your body weight is healthy for your height.</p>

  <h2>Steps:</h2>
  <ul>
    <li>Select a <strong>gender</strong></li>
    <li>Enter your <strong>age</strong> in years.</li>
    <li>Enter your <strong>height</strong> in meters (m).</li>
    <li>And at the right hand side of the <strong>height</strong> input your <strong>height</strong> will be shown within the circle in cm</li>
    <li>Enter your <strong>weight</strong> in kilograms (kg).</li>
    <li>Click <strong>“Calculate BMI”</strong>.</li>
    <li>Your BMI value and health category will appear.</li>
  </ul>

  <h2>Understanding the Results:</h2>
  <ul>
    <li><strong>Underweight</strong>: BMI less than 18.5</li>
    <li><strong>Normal weight</strong>: BMI between 18.5 and 24.9</li>
    <li><strong>Overweight</strong>: BMI between 25 and 29.9</li>
    <li><strong>Obese</strong>: BMI 30 or more</li>
    <li><Strong>Return to home screen</Strong> means back to the BMI Calculator</li>
  </ul>

  <p><a href="index.html" class="Back">← Back to BMI Calculator</a></p>

  <script src="../scripts/help.js"></script>
</body>
</html>
