<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" 
   integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" 
   crossorigin="anonymous" referrerpolicy="no-referrer"/>
   <link rel="stylesheet" href="../styles/style.css">
    <title>BMI Calculator</title>
</head>
<body>
    <div class="container">
    <header>
        <div>
            <div id="branding">
            <h2> <span><i class="fa-regular fa-circle-user"></i></span>  Hi, User!</h2>
            </div>
        <nav>
            <ul>
                <input type="checkbox" id="check">
                <span class="menu">
              <li class="current"> <a href="index.html"><span><i class="fa-solid fa-house"></i></span> Home</a></li>
               <li> <a href="help.html"><span><i class="fa-solid fa-circle-question"></i></span>Help</a></li>
                <li id="theme-trigger"><span><i class="fa-solid fa-circle-half-stroke"></i></span>Theme</li>
                <div id="theme-modal" class="modal hidden">
                <div class="modal-content">
                    <h3>Select Theme</h3>
                    <form id="theme-form">
                    <label><input type="radio" name="theme" value="default"> System Default</label><br><br>
                    <label><input type="radio" name="theme" value="light"> Light</label><br><br>
                    <label><input type="radio" name="theme" value="dark"> Dark</label>
                    <div class="buttons">
                        <button type="button" id="cancel-btn">Cancel</button>
                        <button type="submit" id="ok-btn">OK</button>
                    </div>
                    </form>
                </div>
                </div>
                <label for="check" class="close-menu"><i class="fas fa-times"></i></label>
              </span>
                <label for="check" class="open-menu"><i class="fa-solid fa-bars"></i></label>
              </span>
            </ul>  
        </nav>
       
        </div>
    </header>
    <main>
        <div class="content">
        <section class="section-1">
            <div class="gender js-gender-option" data-gender="male">
                <div  class="gender-adjustment">
                     <span><i class="fa-solid fa-mars"></i></span>
                     <p>Male</p>
                </div>
   
</div>  

<div class="gender female js-gender-option" data-gender="female">
    <div class="gender-adjustment">
        <span><i class="fa-solid fa-venus"></i></span> 
    <p>Female</p>
    </div>   
        </div>
        
        </section>
        
        <section class="section-2">
            <div class="section-2-side1">
            <div class="input-container">
                <input type="number" placeholder="" id="js-height">
                <label for="height"> Height (m)</label>
               
               </div>
            </div>
            <div class="circle">
                <span>Fig cm.</span>
                
            </div>
        </section>
        <section class="section-3">
            <div class="weight-box">
                <p>Weight (kg)</p>
                <div class="weight-age">
                <input type="number" placeholder="" id="js-weight">
                </div>
                <button type="button" id="js-weight-add">+</button>
                <button type="button" id="js-weight-sub">-</button>
            </div>
            <div class="weight-box">

                <p>Age</p>
                  <div class="weight-age">
                <input type="number" value="" id="js-age">
                </div>
                <button type="button" id="js-age-add">+</button>
                <button type="button" id="js-age-sub">-</button>
            </div>
        </section>
        <button class="btn-1" id="calculationButton">Calculate BMI</button>
        </div>
    </main>

    <article>
            <div class="general-health-tips">
                <h3>Health tips</h3>
               <div class="health-tips">
                <p><span>Stay hydrated</span> - Drink at least 8 cups of water daily.</p>
                <p><span>Get enough sleep</span> - Aim for 7-8 hours each night.</p>
                <p><span>East balanced meal</span> - Include fruits, veggies, and whole grain.</p>
                <p><span>Move your body</span> - A 30-minute walk goes a long way!</p>
                <p><span>Stretch regularly</span> - Especially if you sit a lot</p>
                <p><span>Maintain a healthy BMI</span> - Use tools like this calculator</p>
                <p><span>Take breaks</span> - Your mental health matters too</p>
               </div>
            </div>
    </article>
    </div>
    <script src="../scripts/scripts.js"></script>
</body>
</html>